@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Share+Tech&display=swap');

* {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  font-family: 'Fira Code', monospace;
  background-color: #000;
  color: #fff;
}

.App-header {
  background-color: #000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Share Tech', sans-serif;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: large;
  border-bottom: 3px solid #06ad00;
}

.App-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-menu-button {
  display: inline;
  width: 25px;
  height: 25px;
  margin-right: auto;
  margin-left: 20px;
  transition: filter 1s;
}

.App-menu-button:hover {
  filter: invert(100%);
  cursor: pointer;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header div {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-right: 40px;
}

.App-header div h1 {
  padding-left: 10px;
  background: linear-gradient(90deg, #fff, #c2c2c2, #fff);
  background-repeat: repeat-x;
  background-clip: text;
  color: transparent;
  animation: shining 5s ease-in-out infinite;
  background-size: 80% 100%;
}

@keyframes shining {
  0% {
    background-position: -200%;
  }
  50%{
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}

.Menu-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #0000008f;
  animation-name: menu-background-fadein;
  animation-duration: 0.5s;
}

@keyframes menu-background-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.Side-menu {
  position: fixed;
  width: 20%;
  min-width: 200px;
  height: 100%;
  border-right: 2px solid #06ad00;
  background-color: #000;
  animation-name: open-menu;
  animation-duration: 0.5s;
  z-index: 1;
}

.Side-menu ul {
  list-style-type: none;
  text-align: left;
  padding-top: 50px;
}

.Side-menu ul li a {
  text-decoration: none;
  color: #fff;
}

.Side-menu img {
  width: 23px;
  height: 25px;
  float: right;
  padding-top: 40px;
  padding-right: 30px;
  cursor: pointer;
  transition: filter 1s;
}

.Side-menu img:hover {
  filter: invert(100);
}

@keyframes open-menu {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Side-menu-close {
  animation-name: close-menu;
  animation-duration: 0.5s;
}

.Main-content {
  float: left;
  width: 70%;
  height: max-content;
  margin: 20px;
  margin-right: 0;
  margin-bottom: 60px;
  padding: 20px;
  background-color: #091300;
  border: 2px solid #06ad00;
  font-size: large;
}

.Main-content ul {
  list-style: none;
}

.Main-content ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.Main-content ul li img {
  width: 30px;
  border: 1px solid #06ad00;
  border-radius: 3px;
  margin-right: 10px;
  transition: opacity 1s;
}

.Main-content ul li img:hover {
  opacity: 50%;
}

.Main-content .gitHub-profile {
  display: flex;
  width: 200px;
  height: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
  background-color: #000;
  font-size: medium;
  transition: background-color 0.5s;
  text-decoration: none;
}

.Main-content .gitHub-profile img {
  width: 30px;
  filter: invert(100%);
}

.Main-content .gitHub-profile a {
  font-family: 'Share Tech', sans-serif;
  padding-left: 10px;
  color: #fff;
}

.Main-content .gitHub-profile:hover {
  background-color: #006e12;
}

.Aside {
  float: right;
  width: 200px;
  height: 200px;
  margin: 20px;
  margin-right: 40px;
  margin-bottom: 60px;
  padding: 20px;
  background-color: #091300;
  border: 2px solid #06ad00;
}

.Footer {
  position: fixed;
  width: 100%;
  height: min-content;
  bottom: 0;
  background-color: #000000dc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Footer img {
  width: 20px;
  padding-right: 5px;
}

.Footer p {
  font-size: small;
}

@media (max-width: 1280px) {
  .Main-content {
    float: none;
    width: 90%;
    margin-bottom: 20px;
  }
  .Aside {
    float: none;
    width: 90%;
    height: max-content;
  }
}

@media (max-width: 540px) {
  .Side-menu {
    width: 40%;
  }
}

@media (max-width: 414px) {
  .App-header h1 {
    font-size: 30px;
  }
  .Side-menu {
    width: 210px;
  }
}

@media (max-width: 280px) {
  .App-header h1 {
    font-size: 22px;
  }
  .App-logo {
    height: 35px;
    width: 35px;
  }
  .App-menu-button {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Main-content {
    font-size: medium;
  }
  .Main-content .gitHub-profile {
    max-width: 170px;
  }
}
