@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Kanit:wght@300&display=swap");

.App {
  width: 100vw;
  height: 150vh;
  font-family: Barlow;
  background-image: url("./fundo.png");
  background-size: cover;
  animation: App-fundo-animado 20s infinite;
}

@keyframes App-fundo-animado {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-muda-cor infinite 2s;
  }
}

@keyframes App-logo-muda-cor {
  0% {
    filter: invert(100%);
  }
  50% {
    filter: invert(75%);
  }
  100% {
    filter: invert(100%);
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Kanit;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: large;
  border-bottom: 3px solid #abb5e5;
}

.App-header h1 {
  animation: App-header-titulo-animado infinite alternate 10s;
}

@keyframes App-header-titulo-animado {
  0% {
    text-shadow: #ffffff 1px 1px 1px;
  }
  50% {
    text-shadow: #ffffff 1px 1px 20px;
  }
  100% {
    text-shadow: #ffffff 1px 1px 1px;
  }
}

.App-botao-menu {
  display: inline;
  width: 25px;
  height: 25px;
  margin-right: auto;
  margin-left: 20px;
  transition: filter 1s;
}

.App-botao-menu:hover {
  filter: invert(100%);
  cursor: pointer;
}

.App-logo {
  height: 50px;
  pointer-events: none;
  filter: invert(100%);
}

.App-header div {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-right: 40px;
}

.App-header div h1 {
  padding-left: 10px;
}

#Menu-lateral {
  position: fixed;
  color: #ffffff;
  background-color: #282c34;
  width: 20%;
  height: 100%;
  min-width: 200px;
  animation-name: entrada;
  animation-duration: 0.5s;
  z-index: 1;
}

#Menu-lateral ul {
  list-style-type: none;
  text-align: left;
  padding-top: 50px;
}

#Menu-lateral ul li a {
  color: #ffffff;
  text-decoration: none;
  line-height: 50px;
}

#Menu-lateral img {
  width: 30px;
  float: right;
  padding-top: 40px;
  padding-right: 30px;
  filter: invert(100%);
  cursor: pointer;
  transition: filter 1s;
}

#Menu-lateral img:hover {
  filter: invert(0);
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Conteudo-inicio {
  font-size: large;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  text-shadow: #ffffff 1px 1px 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 70%;
  height: max-content;
}

.Conteudo-inicio ul {
  list-style: none;
}

.Conteudo-inicio ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.Conteudo-inicio ul li img {
  width: 30px;
  border: 2px solid #abb5e58c;
  border-radius: 5px;
  margin-right: 10px;
  transition: opacity 1s;
}

.Conteudo-inicio ul li img:hover {
  opacity: 50%;
}

.Conteudo-inicio .perfil {
  display: flex;
  width: 200px;
  height: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  border: rgba(0, 0, 0, 0.1) solid 2px;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
  background-color: #282c34;
  transition: background-color 0.5s;
}

.Conteudo-inicio .perfil img {
  width: 30px;
  filter: invert(100%);
}

.Conteudo-inicio .perfil a {
  text-decoration: none;
  font-family: Kanit;
  width: 200px;
  padding-left: 10px;
  color: #ffffff;
}

.Conteudo-inicio .perfil:hover {
  background-color: #2fb345;
}

@media (max-width: 1024px) {
  #Menu-lateral {
    width: 30%;
  }
}

@media (max-width: 540px) {
  #Menu-lateral {
    width: 40%;
  }
}

@media (max-width: 414px) {
  .App-header h1 {
    font-size: 30px;
  }
  #Menu-lateral {
    width: 210px;
  }
}

@media (max-width: 280px) {
  .App-header h1 {
    font-size: 22px;
  }
  .App-logo {
    height: 35px;
    width: 35px;
  }
  .App-botao-menu {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .Conteudo-inicio {
    font-size: medium;
  }
  .Conteudo-inicio .perfil {
    max-width: 170px;
  }
}
